/* general */
:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent-color: #2196f3;
  --primary-color-white: #ffffff;
  --additional-color-text: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-color-bg: #f5f4fa;
  --accent-color-hover: #188ce8;
  --dark-color-bg: #2f303a;
  --light-color-bg: #c4c4c4;
  --first-border-color: #ececec;
  --second-border-color: #eeeeee;
  --team-icon-color: #afb1b8;
  --clients-icon-color: #afb1b8;
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --areas-color-bg: rgba(47, 48, 58, 0.8);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --backdrop-border-close: rgba(0, 0, 0, 0.1);
  --overlay-bg-hover: rgba(33, 150, 243, 0.9);
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-color-text);
  background-color: var(--primary-color-white);
}
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* logo */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo span {
  color: var(--accent-color);
}

/* header */
.head-section {
  border-bottom: 1px solid var(--first-border-color);
}
.head {
  display: flex;
  align-items: center;
}
.head-logo {
  color: var(--logo-color);
}
.head-nav-wrap {
  display: flex;
  align-items: center;
}
.head-nav {
  display: flex;
  margin-left: 93px;
}
.head-nav .head-nav-item + .head-nav-item {
  margin-left: 50px;
}
.head-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-nav-link.active {
  position: relative;
  color: var(--accent-color);
}
.head-nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.head-nav-link:hover,
.head-nav-link:focus {
  color: var(--accent-color);
}
.head-link-wrap {
  display: flex;
  margin-left: auto;
}
.head-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-link + .head-link {
  margin-left: 50px;
}
.head-link:hover,
.head-link:focus {
  color: var(--accent-color);
}
.head-icon {
  margin-right: 10px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-link:hover .head-icon,
.head-link:focus .head-icon {
  fill: var(--accent-color);
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-color-bg);
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-box + .footer-box {
  margin-left: 70px;
}
.footer-subtitle {
  display: block;
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;

  color: var(--primary-color-white);
}
.footer .logo {
  margin-bottom: 20px;
  display: block;
  color: var(--primary-color-white);
}
.footer-item {
  margin-bottom: 9px;
}
.footer-list .footer-item:last-child {
  margin-bottom: 0px;
}
.footer-item .footer-link {
  margin-bottom: 9px;
  font-style: normal;
  text-decoration: none;
  color: var(--additional-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item .footer-link:hover:not(.link-address),
.footer-item .footer-link:focus:not(.link-address) {
  color: var(--accent-color);
}

.footer-link.link-address {
  color: var(--primary-color-white);
}
.footer-social {
  display: flex;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  background: var(--footer-social-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-icon {
  height: 20px;
  width: 20px;
  fill: var(--primary-color-white);
}

/* page studio */
/* hero */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light-color-bg);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color-white);
}
.hero-btn {
  padding: 10px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color-hover);
}

/* feature */
.feature-list {
  display: flex;
}
.feature-item {
  width: calc((100% - 90px) / 4);
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color-text);
}
.feature-box {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--primary-color-bg);
  border-radius: 4px;
}
.feature-icon {
  height: 70px;
  width: 70px;
}
/* areas*/
.areas {
  padding-top: 0;
}
.areas-title,
.team-title,
.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color-text);
}
.areas-list {
  display: flex;
}
.areas-item {
  position: relative;
}
.areas-list .areas-item + .areas-item {
  margin-left: 30px;
}
.areas-image {
  display: block;
}
.areas-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--areas-color-bg);
}
.areas-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-color-white);
}
/* team */
.team {
  background-color: var(--primary-color-bg);
}
.team-list {
  display: flex;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-color-white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}
.team-box {
  padding: 30px;
}
.team-item h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color-text);
}
.team-item p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team-social {
  display: flex;
}
.team-social-item {
  margin-right: 10px;
}
.team-social-item:last-child {
  margin-right: 0;
}
.team-social-link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--team-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover .team-icon,
.team-social-link:focus .team-icon {
  fill: var(--primary-color-white);
}

/* clients */
.clients-list {
  display: flex;
}
.clients-item {
  width: calc((100% - 150px) / 6);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  min-height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--clients-icon-color);
  color: var(--clients-icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--clients-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* portfolio */
.portfolio-group {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  padding: 6px 22px;
  border-color: transparent;

  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-color-text);
  background-color: var(--primary-color-bg);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.active {
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-item {
  width: calc((100% - 90px) / 3);
  margin: 15px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list a {
  text-decoration: none;
}
.portfolio-list img {
  display: block;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-hover);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list a:hover .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-desc {
  position: absolute;
  top: 50%;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(-50%);
}
.portfolio-desc p {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color-white);
}

.portfolio-box {
  padding: 20px 24px;
  border-left: 1px solid var(--second-border-color);
  border-right: 1px solid var(--second-border-color);
  border-bottom: 1px solid var(--second-border-color);
}
.portfolio-box h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color-text);
}
.portfolio-box p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-color-text);
}
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid var(--backdrop-border-close);
  border-radius: 100%;

  cursor: pointer;
}
.modal-close svg {
  width: 11px;
  height: 11px;
}
